@media(max-width:890px) {
    .cabecalho {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    .nome-logo {
        margin-bottom: 10px;
    }
}

@media(max-width:682px) {
    body {
        height: 100vh;
    }

    .cabecalho {
        flex-direction: column;
    }

    .sobre {
        display: flex;
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
        margin-top: 40px;
        width: 233px;
        height: 435px;
        justify-content: center;
        align-items: center;
    }

    .menu li {
        margin: 0;
        font-size: 40px;
        flex: 1;
    }

    nav {
        margin: 30px 0px;
    }

    .menu li a {
        padding: 17px 40px;
        align-items: center;
        justify-content: center;
    }

    .sobre .botao {
        font-size: 18px;
        margin: 0;
    }
}